* {
  font-family: "Nunito", monospace !important;
}
.box-right {
  background: rgb(155, 81, 254);
  background: linear-gradient(
    0deg,
    rgba(155, 81, 254, 1) 0%,
    rgba(195, 82, 229, 1) 50%,
    rgba(243, 82, 201, 1) 100%
  );
  width: 1000px;
  height: 600px;
  position: fixed;
  border-radius: 80px;
  transform: rotate(45deg);
  right: -250px;
  top: -140px;
  z-index: -100;
}
.box-center {
  background-color: #fff;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  position: fixed;
  z-index: -200;
  border-radius: 30px;
  transform: rotate(50deg);
}
.try-it,
.get-start {
  margin-right: 50px;
  height: 40px;
  width: 160px;
  border: 0;
  box-shadow: 0.1px 0.1px 10px #00000069;
  color: #ac51f2;
  font-weight: 400;
  background-color: #f6f9fe;
  border-radius: 2px;
}
.get-start {
  margin: 0;
  color: #fff;
  background-color: #e952ce;
  font-size: 12px;
  width: 250px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.logo {
  margin-left: 50px;
  font-size: 32px;
  font-weight: bolder;
}

.card,
.card-try {
  max-width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  box-shadow: 0.1px 0.1px 10px #00000069;
  border-radius: 2px;
  border-radius: 15px !important;
}
.card-summary {
  color: #a09d9d;
  margin-bottom: 30px;
}
.card-title h2 {
  font-weight: bold;
  font-size: 32px;
}
.header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 100;
  position: relative;
}
body {
  background-color: #f6f9fe;
  overflow-x: hidden;
}
.content #mobile {
  position: relative;
  margin-right: -100px;
  margin-top: calc(75px);
  animation: slide_to_left 3s ease-in-out;
}

.content #desktop {
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: -100px;
  animation: bounce 2s ease-in-out forwards;
  --widthScreen: 20vw;
}

.img-board {
  display: block;
}

.flip-container {
  height: 200px;
}

div.demo > div:nth-child(1) {
  transition: 0.5s ease-out;
  transform: translateX(100vw);
}
div.demo > div:nth-child(2) {
  transition: 0.5s ease-out;
  transform: translateX(-100vw);
}

.footer {
  background-color: #00252e;
  height: 150px;
  width: 100vw;
  position: absolute;
  flex-wrap: wrap;
  height: auto;
}

.items li {
  margin: 15px;
}

.front,
.back {
  height: 200px;
}

/* @keyframes slide_to_left {
        from {
          margin-left: 60px;
        }
        to {
          margin-left: -161px;
        }
      }

      @keyframes slide_to_left_correction {
        from {
          margin-left: 120px;
        }
        to {
          margin-left: -161px;
        }
      } */
.app {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: -150px;
  margin-bottom: -600px;
}

.mobile {
  margin-left: 500px;
  transform: scale(0.3);
  opacity: 0;
  /* animation: resize_shake 2.5s ease-in-out forwards; */
  z-index: 1;
}

.cred-card {
  opacity: 0;
  transform: scale(0.65) translate(350px, -200px) rotate(-5deg);
  position: absolute;
  margin-top: 280px;
  z-index: 0;
  /* animation: card 0.5s ease-in forwards 1.5s,
          card_fade_in 0.5s ease-in 1s forwards; */
}
.card-mobile {
  max-width: 70vw;
  height: 700px;
  border-radius: 30px;
}
#totvs-card-phone {
  animation: grow_flow 3s ease infinite;
}

@keyframes grow_flow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes card {
  to {
    transform: scale(0.65) translate(-250px, 0px);
  }
}

@keyframes card_mobile {
  to {
    transform: scale(0.65) translate(-50px, -70px);
  }
}

@keyframes card_fade_in {
  to {
    opacity: 1;
  }
}

@keyframes resize {
  to {
    transform: scale(0.6);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    margin-right: 0px;
  }
  25% {
    margin-right: -100px;
  }
  50% {
    margin-right: 0px;
  }
  100% {
    margin-right: -100px;
  }
}

@keyframes fade_in {
  to {
    opacity: 1;
  }
}

@keyframes resize_mobile {
  to {
    transform: scale(0.5);
  }
}
@keyframes resize_shake_mobile {
  from {
    transform: scale(0.1);
  }
  0% {
    transform: rotate(0deg) scale(0.1);
  }
  10% {
    opacity: 1;
  }
  30% {
    transform: rotate(40deg) scale(0.1);
  }
  40% {
    transform: rotate(0deg) scale(0.5);
  }
  75% {
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg) scale(0.5);
    opacity: 1;
  }
}
@keyframes resize_shake {
  from {
    transform: scale(0.3);
  }
  0% {
    transform: rotate(0deg) scale(0.3);
  }
  30% {
    transform: rotate(40deg) scale(0.3);
    opacity: 1;
  }
  40% {
    transform: rotate(0deg) scale(0.7);
  }
  75% {
    transform: rotate(0deg) scale(0.7);
  }
  100% {
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
}

#front-end img:nth-child(1){
  animation: up_donw 10s ease infinite;
}
#front-end img:nth-child(2){
  animation: up_donw 7.5s ease 2s reverse infinite ;
}
#front-end img:nth-child(3){
  animation: up_donw 3s ease 3.5s infinite;
}
#front-end img:nth-child(1):hover, #front-end img:nth-child(2):hover, #front-end img:nth-child(3):hover{
  animation-duration: 1s;
}

#back-end img:nth-child(1){
  animation: up_donw 6s ease infinite;
}
#back-end img:nth-child(2){
  animation: up_donw 8s ease-in-out 1s reverse infinite ;
}
#back-end img:nth-child(1):hover, #back-end img:nth-child(2):hover{
  animation-duration: .5s;
}


@keyframes up_donw{
  0%{
    transform: translateY(0px)
  }
  50%{
    transform: translateY(10px)
  }
  100%{
    transform: translateY(0px)

  }
}

@media only screen and (max-width: 1000px) {
  .card-try {
    max-width: 500px;
  }
  .items {
    flex-direction: column !important;
  }

  .mobile {
    margin-top: -20px;
    transform: scale(0.1);
    margin-left: 70vw;
    animation: resize_shake_mobile 5s ease-in-out forwards;
  }

  .card-mobile {
    height: 400px;
    max-width: 500px;
  }

  .card-mobile h1 {
    margin-top: -160px;
    /* min-height: 350px; */
  }
  .totvs-card {
    max-width: unset !important;
    height: auto;
  }
}

@media only screen and (max-width: 380px) {
  #contact{
    display: none
  }
}

@media only screen and (min-width: 1000px) {
  .cred-card{
    width: 500px;
  }
  .app{
    margin: 0
  }

  #project-mobile{
    margin-top: 350px;
  }
}
.footer {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer div {
  margin: 15px;
}

html {
  scroll-behavior: smooth;
}

scroll-container {
  scroll-behavior: smooth;
}
