.logo {
  margin: 0px;
}

.electron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.electron .center {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(160, 160, 160, 0.1);
}
.electron .ring-1 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgba(160, 160, 160, 0.1);
}
.electron .ring-2 {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgba(160, 160, 160, 0.1);
}
.electron .ring-3 {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgba(160, 160, 160, 0.1);
}
.electron .ring-4 {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid rgba(160, 160, 160, 0.1);
}
.electron-component {
  /* margin: 50px; */
  width: 300px;
  height: 300px;
  display: flex;
  z-index: 100;
  transform: scale(0.6);
}
.electron,
.mask {
  position: absolute;
}
.mask {
  height: 510px;
  width: 510px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.logo-2 {
  position: absolute;
  animation: rotation_logo_3 20s ease-in-out infinite;
}
.ring-logo-2 {
  position: absolute;
  width: 350px;
  animation: rotation_ring_3 20s ease-in-out infinite;
}
.logo-1 {
  position: absolute;
  animation: rotation_logo_3 20s ease-in-out reverse infinite;
}
.ring-logo-1 {
  position: absolute;
  width: 245px;
  animation: rotation_ring_3 20s ease-in-out reverse infinite;
}
.logo-0 {
  position: absolute;
  animation: rotation_logo_3 20s ease-out infinite;
}
.ring-logo-0 {
  position: absolute;
  width: 150px;
  animation: rotation_ring_3 20s ease-out infinite;
}
.logo-a {
  position: absolute;
  animation: rotation_logo_3 20s cubic-bezier(0.47, 0, 0.745, 0.715) reverse
    infinite;
}
.ring-logo-a {
  position: absolute;
  width: 460px;
  animation: rotation_ring_3 20s cubic-bezier(0.47, 0, 0.745, 0.715) reverse
    infinite;
}
.logo-b {
  position: absolute;
  animation: rotation_logo_3 20s cubic-bezier(0.84, -0.05, 0.12, 1.41) infinite;
}
.ring-logo-b {
  position: absolute;
  width: 570px;
  animation: rotation_ring_3 20s cubic-bezier(0.84, -0.05, 0.12, 1.41) infinite;
  z-index: 100;
}

@keyframes rotation_ring_3 {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes rotation_logo_3 {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-100deg);
  }
  50% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
